<h1>Burası Blog Area, Buraya Hoş Geldiniz.</h1>
<input type="text" class="form-control"/>
<a asp-area="Admin" asp-controller="Home" asp-action="Index">Admin Area Kısmına Geçmek İçin Lütfen Tıklayınız.</a>