<!DOCTYPE html>
<html lang="en">
<head>
    @await Html.PartialAsync("_LayoutMetaHeaderPartial") 
    @await Html.PartialAsync("_LayoutCssPartial") 
</head>
<body class="sb-nav-fixed">
    @await Html.PartialAsync("_LayoutNavbarPartial") 
    <div id="layoutSidenav">
        @await Html.PartialAsync("_LayoutSideBarNavPartial") 
        <div id="layoutSidenav_content">
            <main>
                <div class="container-fluid">
                    @RenderBody()
                </div>
            </main>
            @await Html.PartialAsync("_LayoutFooterPartial") 
        </div>
    </div>
    @await Html.PartialAsync("_LayoutJsPartial"); 
    @await RenderSectionAsync("Scripts",false)
</body>
</html>
